.ensayo {
    padding: 40px 20px;
    background-color: #4B5945; /* Fondo con color armonizado */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 900px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ensayo h4 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px; /* Mayor espacio debajo del título */
    font-family: 'Arial', sans-serif;
    text-align: center;
    text-transform: uppercase; /* Título en mayúsculas */
}

.ensayo p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

@media (max-width: 768px) {
    .ensayo {
        padding: 30px 15px;
    }

    .ensayo h4 {
        font-size: 24px;
    }

    .ensayo p {
        font-size: 16px;
    }
}
