.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f30;
    color: white;
    padding: 10px;
    font-size: 1.2em;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px; /* Espaciado entre el año y el enlace */
}

.footer a:hover {
    text-decoration: underline;
}
