.inicio {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4B5945; /* Fondo con el color principal */
    padding: 70px 30px;
    border-radius: 10px;
    box-shadow: 0 60px 1000px rgba(194, 13, 211, 0.1);
    max-width: 100%; 
    margin: 0 auto; 
}

.inicio-texto {
    font-size: 32px;
    font-weight: bold;
    color: #B2C9AD; /* Color claro para el texto principal */
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.2;
}

.inicio-texto h4 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.inicio-texto2 {
    font-size: 18px;
    color: #91AC8F; /* Color suave para el texto secundario */
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 800px;
    text-align: center;
}

.inicio-texto2 p {
    margin: 0;
    padding: 0;
}

button {
    background-color: #66785F; /* Color de fondo del botón */
    color: #FFFFFF; /* Color blanco para el texto del botón */
    font-size: 18px;
    padding: 16px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #91AC8F; /* Cambio de color del botón al pasar el mouse */
}

@media (max-width: 600px) {
    .inicio {
        padding: 30px 15px;
    }

    .inicio-texto {
        font-size: 20px;
    }

    .inicio-texto2 {
        font-size: 14px;
    }

    button {
        padding: 10px 25px;
    }
}
