.trabajo {
  display: flex;
  flex-direction: row-reverse; /* Revertir la ubicación de la imagen y el texto */
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  background-color: #4B5945; /* Fondo con color armonizado */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  max-width: 100%;
}

.trabajo-img {
  flex: 1;
  max-width: 50%; /* Aumentar el tamaño de la imagen */
  margin-left: 20px;
  border: 5px solid #B2C9AD; /* Cambiar el color del borde */
  border-radius: 10px;
  height: auto;
}

.trabajo-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.trabajo-container {
  flex: 2; /* Aumentar el área del texto */
  max-width: 45%;
  padding-right: 30px; /* Aumentar espacio a la derecha */
}

.trabajo-texto {
  font-size: 32px; /* Aumentar el tamaño del texto */
  font-weight: bold;
  color: #B2C9AD; /* Color claro para el texto */
  margin-bottom: 20px;
  text-align: left;
}

.trabajo-texto2 {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.8;
  text-align: left;
}

@media (max-width: 768px) {
  .trabajo {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      padding: 30px 15px;
  }

  .trabajo-img {
      max-width: 100%; /* Ajustar imagen a pantalla completa */
      margin: 0 auto 20px; /* Centrar imagen */
  }

  .trabajo-container {
      max-width: 100%;
      padding: 0;
  }

  .trabajo-texto {
      font-size: 24px; /* Reducir tamaño en móviles */
  }

  .trabajo-texto2 {
      font-size: 16px; /* Reducir tamaño de texto secundario */
  }
}
